* {
    margin: 0px;
    padding: 0px;
    background-color: #F1FFE7;
    font-family: 'Shippori Mincho', serif;
}

.title {
    font-size: 75px;
    color: #FF82A9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#number-label {
    font-size: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #f1ffe7;
    height: 50vh;
}

.start-div
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-div
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

#startbtn
{
    cursor: pointer; /* Pointer/hand icon */
    width: 200px; /* Set a width if needed */
    font-size: 45px;
    padding: 5px;
    transition-duration: 0.3s;
}

#startbtn:hover {
    background-color: #FFC0BE;
}

#backbtn
{
    cursor: pointer; /* Pointer/hand icon */
    width: 100px; /* Set a width if needed */
    font-size: 20px;
    padding: 5px;
    transition-duration: 0.3s;
}

#backbtn:hover {
    background-color: #FFC0BE;
}