* {
    margin: 0px;
    padding: 0px;
    background-color: #F1FFE7;
}

.title {
    font-size: 75px;
    color: #FF82A9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#number-label {
    font-size: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #f1ffe7;
    height: 50vh;
}
.button-div
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#startbtn
{
    font-size: 30px;
}