* {
    margin: 0px;
    padding: 0px;
    background-color: #F1FFE7;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF82A9;
    font-size: 100px;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

